In [1]:
import pandas as pd 
import numpy as np 
import re
import pymongo

from pyecharts.charts import Pie, Bar, Map, WordCloud,Line,Grid,Scatter,Radar,Page 
from pyecharts import options as opts
from pyecharts.globals import SymbolType
from pyecharts.globals import ThemeType

In [2]:
client = pymongo.MongoClient('localhost', 27017)
db = client['data']
job_data = db['info']
data = pd.DataFrame(list(job_data.find()))

In [3]:
del data['_id']
data.head(5)

,职位名称,公司名称,工作城市,薪资范围,学历要求,公司类型,公司规模,职位类别,工作经验,福利待遇
0,在家作业/网上兼职/线上操作,中环汇峰环境科技(北京)有限公司,北京,8千-1万,初中及以下,其它,20人以下,技工/操作工,不限,"五险一金,加班补助,全勤奖,绩效奖金"
1,送货司机,中融永信(北京)投资管理有限公司,北京,4千-6千,初中及以下,其它,500-999人,技工/操作工,1-3年,"包吃,包住,节日福利,带薪年假,上六休一"
2,警卫,美国驻华大使馆,北京,6千-8千,初中及以下,国家机关,100-299人,行政/后勤/文秘,1年以下,"五险一金,加班补助,带薪年假"
3,Bodyguard,美国驻华大使馆,北京,8千-1万,初中及以下,国家机关,100-299人,社区/居民/家政服务,3-5年,"五险一金,带薪年假,年底双薪,补充医疗保险,定期体检,不加班,周末双休,试用期全额"
4,在家作业/网上兼职/线上操作,中环汇峰环境科技(北京)有限公司,北京,8千-1万,初中及以下,其它,20人以下,技工/操作工,不限,"五险一金,加班补助,全勤奖,绩效奖金"

In [4]:
data.drop_duplicates(subset=['公司名称','职位名称'],inplace=True)
data.shape

(116574, 10)

In [5]:
data['工作经验'].value_counts()

1-3年     35629
不限       33560
3-5年     21384
5-10年     9452
无经验       6782
          4292
1年以下      3913
10年以上     1562
Name: 工作经验, dtype: int64

In [6]:
data['工作经验'].replace('', np.nan, inplace=True)
data.dropna(subset=['工作经验'], inplace=True)

In [7]:
temp = data[data['薪资范围'].isin(['面议'])]
temp.head(5)

,职位名称,公司名称,工作城市,薪资范围,学历要求,公司类型,公司规模,职位类别,工作经验,福利待遇
28,正式员工-西餐厨师/(MUJI com北京京东店),无印良品（上海）商业有限公司,北京,面议,初中及以下,外商独资,1000-9999人,烹饪/料理/食品研发,无经验,
72,饮水机维修员,广州屈臣氏食品饮料有限公司,北京,面议,初中及以下,合资,1000-9999人,电子/电器/半导体/仪器仪表,1-3年,"五险一金,年底双薪,带薪年假,补充医疗保险,定期体检,免费班车,交通补助"
668,央企诚聘帮厨（包食宿）,中冶置业集团,北京,面议,初中及以下,国企,500-999人,烹饪/料理/食品研发,1-3年,"定期体检,带薪年假,包吃,包住,交通补助,弹性工作"
2409,店员/营业员,美团（中国大陆地区）,北京,面议,高中,上市公司,10000人以上,商超/酒店/娱乐管理/服务,不限,绩效奖金
2494,弱电维修工,远洋集团,北京,面议,高中,上市公司,10000人以上,土木/建筑/装修/市政工程,1-3年,"五险一金,绩效奖金,带薪年假,包住,餐补,通讯补助"

In [8]:
df = data[~data['薪资范围'].isin(['面议'])]

In [9]:
def split_money(x):
    try:
        if x[1] == '万' or x[2] == '万' or x[3] == '万' or x[-2] == '万' or x[-1] == '万':
            sal = [float(i)*10000 for i in re.findall("[0-9]+\.?[0-9]*",x)]
        elif x[1] == '千' or x[3] == '千' or x[-2] == '千' or x[-1] == '千':
            sal = [float(i)*1000 for i in re.findall("[0-9]+\.?[0-9]*",x)]
        else:
            pass
        return sal
    except Exception as a:
        print(a)
        return x
                    
salary = df['薪资范围'].apply(split_money)
salary

0         [80000.0, 10000.0]
1           [4000.0, 6000.0]
2           [6000.0, 8000.0]
3         [80000.0, 10000.0]
6         [10000.0, 15000.0]
                 ...
302963    [12000.0, 24000.0]
302964    [30000.0, 50000.0]
302965              [1000.0]
302966    [25000.0, 50000.0]
302978    [25000.0, 30000.0]
Name: 薪资范围, Length: 108870, dtype: object